<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
    .container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: auto;
        height: 100vh;
    }
    </style>
</head>
<body>
<div class="container">
<center>
    <h1>Your Details</h1>
</center>
<center>
<p>Your Name is <%= @name %></p>
<p>Your Email is <%=@email%></p>
</center>
<center>
 <%= link_to 'Go back to form', '/about_form'%>
</center>
<div>
</body>
</html>