<div class="container">
    <h1>About Page</h1>
    <ul>
        <li>Name: <%= @name %></li>
        <li>Email: <%= @email %></li>
    </ul>
</div>
<a href= about_form_path>Click here to goto root path</a>