
  
<div class="mt-4 p-5 bg-primary text-white rounded">
  	<div class="container">
	  	<ul style="list-style-type:square">
			    <li>Name: <%= @name %></li>
			    <li>Email: <%= @email %></li>   
	    </ul>
	    <a href="about_form" class="btn btn-secondary" role="button">BACK</a>
	</div>   
</div>