<h1>All Publications</h1>

<ul>
  <% @publications.each do |publication| %>
    <li>
      <a href="publications/<%= publication.id %>">
        <%= publication.name%>
      </a>
    </li>
  <% end %>
</ul>
