<%= yield %>
<div class= "container">
<h1 class="bold">Json String api <h1>
<h2><strong> usage:<strong> <h2>
    <p>
        To use json api form our website head on to "/about_json.json" of the above website 
        any query parameter will be preocessed. if query parameter is message ie "about_json.json?message=abc"
        json responce will be provided for given parameter.
    <p>
    <p>here is an eample link<p>
    <a href="/about_json.json?message=hello" class="btn btn-info" role="button">json</a>
<h2>Thank you<h2>
<div>