<%=yield%>


<a href="/" class="btn btn-info" role="button">Back </a>
<%# <button class="btn btn-primary" type="submit">BuStton</button> %>

<div class="container">

<h1>ABOUT PAGE<h1>

  <br>
     Your name is <%= @name %>.
     your mail is <%=@email %>.
<br>
<div>